module {{ .Module }}

go 1.26.0

require (
	github.com/abdussamadbello/echonext v1.5.0
	github.com/labstack/echo/v5 v5.3.1
	github.com/spf13/cobra v1.10.2
	github.com/spf13/viper v1.21.0
	gorm.io/driver/postgres v1.6.2
	gorm.io/gorm v1.31.2
)
{{- if .EchoNextPath }}

replace github.com/abdussamadbello/echonext => {{ .EchoNextPath }}
{{- end }}
